<div class="row">
  <div class="col-md-6">
    <h1>Welcome {{name}}</h1>
    <h2>Create A New Post</h2>


<div class="row mt-4">
  <div class="col-md-6">
    
    <form class="form create-form">      
      <div class="form-group">
        <label for="title">Post Title:</label>
        <input class="form-input" type="text" id="title" />
      </div>

      <div class="form-group">
        <label for="postedby">Posted By:</label>
        <input class="form-input" type="hidden" id="postedby" value={{id}} placeholder={{name}}/>
      </div>
      
      <div class="form-group">
        <button class="btn btn-primary" id ="create" type="submit">DONATE</button>
      </div>
     </form>
     </div>
     </div>
     
     <a href="/dashboard">Dashboard</a>
   
     
      <script src="./js/create.js"></script>
