<div class="row">
  <div class="col-md-6">
    <h1>Welcome {{name}}</h1>
    <h2>Create A Post</h2>
 
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 list-container">
          <div class="card">
            <ul class="list-group"></ul>
          </div>
        </div>
          <div class="col-8">
          <input
            class="note-title"
            placeholder="Note Title"
            maxlength="28"
            type="text"
          />
          <textarea class="note-textarea" placeholder="Note Text"></textarea>
        </div>
      </div>
    </div>


      <div class="form-group">
        <label for="createdby">Create By:</label>
        <input class="form-input" type="hidden" id="createdby" value={{id}} placeholder={{name}}/>
      </div>
      
      <div class="form-group">
        <button class="btn btn-primary" id ="create" type="submit">CREATE</button>
      </div>
     </form>
     </div>
     </div>
     
     
      <script src="./js/create.js"></script>
