

node <server class="js">



  
</server><div class="row">
  <div class="col-md-6">
  
    <table>
      <thead>
        <tr>
          
          <th>Title</th>
          <th>Memo</th>
          
        </tr>
      </thead>
      <tbody>
        {{#each notes }}
        <tr>
          <td>
            <button data-id={{this.id}} >Post</button>
          </td>
          <td>{{this.title}}</td>
          <td>{{this.memo}}</td>
          
          
        </tr>
        
        {{/each}}
      </tbody>
    </table>


